{% extends 'base.html.twig' %}

{% block title %}Annonce index
{% endblock %}

{% block body %}

	<div style="overflow-x: hidden;">
		{% include "template_parts/_nav2.html.twig" %}
		<div class="example-wrapper mb-2">
			<h1 class="text-center">
				Exprimez-vous sur Rhuma Sug</h1><br><br>
			<div style="text-Align:center; font-Weight:bold;">
				Mettez ci-dessous votre commentaire:
			</div>

			<a href="{{path('annonce_new')}}">
				<button
					type="button" class="btn btn-warning" style="margin-left:45%;">
					{# <img style="height: 100%; width:100%;margin-left:5%; display: block;" src="{{asset('assets/images/eye 7.png')}}"> #}
					Ajouter
					<strong>UNE</strong>
					annonce
				</button>
			</a>
			<p style="text-Align:center;">
				Supprimer une annonce correspond à nos yeux à une modification</p>
		</div>
		<div class="row">

			{% for annonces in annonces %}
				<div style="margin-bottom:2%; margin-Left:10%;">
					<div class="card-body">
						<div class="card border-primary mb-3" style="max-width: 25rem;">
							<div class="row">
								<h4 class="card-title ml-3">
									<div style="text-Align:center;">Annonce sur
										<br>
										{{annonces.titre}}
										<br>
										Posté  par :
										{{annonces.nom}} le <br>{{annonces.date|date('Y-m-d ')}}</h4>
									<div style="margin-left:5%">- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  - </div>
									<div style="margin-bottom:2%;margin-left:25%;">
										<a href="{{path('annonce_edit',{'id':annonces.id})}}">
											<button
												type="button" class="btn btn-warning">
												{# <img style="height: 100%; width:100%;margin-left:5%; display: block;" src="{{asset('assets/images/eye 7.png')}}"> #}
												modifier l'annonce
											</button>
										</a>
									</div>
									<hr>
								</div>
                                <div>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  - - - - - - - - - - - </div>
								<p class="card-text">{{annonces.contenu}}</p>
							</div>
							<div class="row">
								<div style="margin-bottom:2%;">
									<a href="{{path('annonce_show',{'id':annonces.id})}}">
										<button type="button" class="btn btn-warning">

											Voir le commentaire
										</button>
									</a>
								</div>

							</div>
						</div>
					</div>

				{% endfor %}

			</div>
		</div>
		
	{% endblock %}