{% extends 'base.html.twig' %}
{% block title %}Page profil de{{ app.user.username }}


{% endblock %}

{% block body %}
	{% include "template_parts/_nav2.html.twig" %}


	<div class="container">
		<div class="jumbotron">
			<h1 class="display-4 text-center">Administrer le site</h1>
			<p class="lead">Selectionner un des chapitre suivant:</p>
			<hr class="my-4">

			<div class="mb-4">
				{% if is_granted('ROLE_ADMIN') %}
					<div class="mb-4">
						<a href="{{path('utilisateurs')}}">
							<button type="button" class="btn btn-primary btn-lg btn-block">
								console d'administratrion des utilisateurs</button>
						</a>
					</div>
					<div class="mb-4">
						<a href="{{path('adresse_index')}}">
							<button type="button" class="btn btn-primary btn-lg btn-block">
								Voir Adresse Client</button>
						</a>
					</div>
					<div class="mb-4">
						<a class="nav-link" href="{{path('article_creation')}}">
							<button type="button" class="btn btn-primary btn-lg btn-block">
								Creation Produit
							</button>
						</a>
					</div>
					<div class="mb-4">
						<a class="nav-link" href="{{path('voirlescontact')}}">
							<button type="button" class="btn btn-primary btn-lg btn-block">
								Voir Messages
							</button>
						</a>
					</div>
					<div class=" mb-4">
						<a class="nav-link" href="{{path('listecommande')}}">
							<button type="button" class="btn btn-primary btn-lg btn-block">Liste Commande</button>
						</a>
					</div>
                    <div class=" mb-4">
						<a class="nav-link" href="{{path('evenement_new')}}">
							<button type="button" class="btn btn-primary btn-lg btn-block">Ajouter Une Actualité</button>
						</a>
					</div>
                    <div class=" mb-4">
						<a class="nav-link" href="{{path('natureEvent_creation')}}">
							<button type="button" class="btn btn-primary btn-lg btn-block">Ajouter Un nouveau genre d'Actualité</button>
						</a>
					</div>
					<div class=" mb-4">
						<a class="nav-link" href="{{path('calendrier')}}">
							<button type="button" class="btn btn-primary btn-lg btn-block">Voir les rendez-vous</button>
						</a>
					</div>
                 
				{% endif %}

			</div>


		</div>
	</div>
{% endblock %}
