<nav class="navbar navbar-expand-lg navbar-dark ">


	<div class="collapse navbar-collapse" id="navbarColor01 margin-left:10%;">
		<ul class="navbar-nav mx-auto px-2">
			<li class="nav-item">
				<p><img src="{{asset ('assets/images/drapeaufrance.png')}}" class="img-responsive" alt="logo" width="40px;">Origine Française/Martinique</p>
			</li>
		</ul>
		<ul class="navbar-nav mx-auto px-2">
			<li class="nav-item">
				<p>
					<img src="{{asset ('assets/images/organic-natural-512 3.png')}}" class="img-responsive" alt="logo" width="40px;">Produits Naturels</p>
			</li>
		</ul>
		<ul class="navbar-nav mx-auto px-2">
			<li class="nav-item">
				<p><img src="{{asset ('assets/images/truck 3.png')}}" class="img-responsive" alt="logo" width="40px;">Livraison Gratuite sous 48heures  dés 100 euros d'achats</p>
			</li>
		</ul>
		<ul class="navbar-nav mx-auto px-2">
			<li class="nav-item">
				 <a class="nav-link" style="color:black;" href="{{path('calendare_new')}}" width="10em;">{#<img src="{{asset ('assets/images/profil.png')}}" class="img-responsive" alt="logo" width="40px;"> #}
					Prendre Rendez-vous client/commercial
					<br>(exemple:Pour retirer en magasin votre Panier)
				</a>
			</li>
		</ul>
		<ul class="navbar-nav mx-auto px-2">
			{% if app.user %}
				<li class="nav-item">
					<div class="mb-3 mt-3">
						<a class="btn btn-primary btn-lg ml-2" href="{{ path('app_logout') }}" style="margin-top:5%" role="button">Deconnexion</a>
					</div>
				</li>
				{% else %}

			{% endif %}
		</ul>
	</div>

	{% for label, messages in app.flashes %}
		<div class="container-fluid">
			<div class="alert alert-{{label}}">
				{% for message in messages %}
					<p>{{message}}</p>
				{% endfor %}
			</div>
		</div>
	{% endfor %}
</nav>
